.pointer {
	cursor: pointer;
}

.no-select {
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;          /* Likely future */  
}

.table-sm {
	font-size: 0.9em;
}

.table thead.no-border th {
	border-top: 0;
}