:host {
	display: inline-block;
	margin: 0;
	position: relative;
	vertical-align: middle;
	width: 100%;
}

* {
	box-sizing: border-box;
}

label {
	color: rgba(0, 0, 0, 0.38);
	display: block;
	font-size: 13px;
	padding: 4px 0;
}

// Container.
.picker-container {
	border: 1px solid #ddd;
	box-sizing: border-box;
	cursor: pointer;
	user-select: none;
	width: 100%;

	&.disabled {
		background-color: #eee;
		color: #aaa;
		cursor: default;
		pointer-events: none;
	}

	.input-wrapper {
		display: flex;
		flex-flow: row wrap;
		height: 100%;
		min-height: 30px;
		padding-left: 10px;
		width: 100%;

		input {
			background-color: transparent;
			border: none;
			cursor: pointer;
			height: 30px;
			line-height: 30px;
			padding: 0;
			flex: 1;

			&:focus {
				outline: none;
			}
		}

		.calendar, .clear {
			color: #aaa;
			line-height: 30px;
			text-align: center;
			width: 30px;
			font-size:14px;

			&:hover {
				background-color: #ececec;
			}
		}
	}
}
