<div class="picker-container">
  <div class="input-wrapper" [formGroup]="group" >
    <input type="text" ngbDatepicker
      (click)="toggle()"
      [minDate]="ngMinDate"
      [maxDate]="ngMaxDate"
      [startDate]="ngStartDate"
      [name]="name"
      [formControlName]="name"
      [placeholder]="placeholder" />

    <div class="clear" *ngIf="control.value" (click)="clear()">
      <fa-icon [icon]="[ 'fas', 'times' ]"></fa-icon>
    </div>
    <div class="calendar" (click)="toggle()">
        <fa-icon [icon]="[ 'fas', 'calendar' ]"></fa-icon>
    </div>
  </div>
</div>