<div class="card">
	<div class="card-body">
		<div class="detail-sources">
			<div class="like-code mr-5"><b>{{ 'Path Selection' | translate }}: </b>
				<vb-selected-files [items]="items"></vb-selected-files>
			</div>
		</div>
		<div class="detail-sources">
			<div class="like-code mr-1">
				<b>{{ 'Destination' | translate }}: </b>
				<span *ngIf="selectedPath$ | async as path">{{ getSelectedPath(path) }}</span>
			</div>
			<button class="btn badge badge-secondary" (click)="showNavigator()">
				{{ 'Change' | translate }}
			</button>
		</div>
	</div>
</div>