div {
	margin-bottom: 1rem;
	border-top: none;

	&.isolate {
		margin-top: -1rem;
	}

	&:not(.isolate) {
		border-left: none;
		border-right: none;
		margin-left: 1.25rem;
		margin-right: 1.25rem;
	}
}

.message {
  padding: 20px;
  font-size: 18px;
}
