<ul>
	<li *ngFor="let item of menu"
		class="position-relative"
		[class.header-menu]="isHeader(item)"
		[class.sidebar-dropdown]="isMenu(item)"
		[class.active]="selectedItem === item"
	>
		<span *ngIf="isHeader(item)">{{ item.label | translate }}</span>
		<!-- TODO: find a way to allow customizing background-color & box-shadow color for selectedItem (through input or smth) -->
		<vb-menu-link
			*ngIf="!isHeader(item)"
			class="pointer"
			[item]="item"
			[hasCaret]="isMenu(item)"
			(selected)="selectItem(item)">
		</vb-menu-link>

		<div *ngIf="isMenu(item)" class="sidebar-submenu" [class.invisible]="selectedItem !== item">
			<ul>
				<li *ngFor="let sub of item.subMenu">
					<vb-menu-link
						class="pointer"
						[item]="sub"
						[isSubItem]="true"
						(selected)="selectItem(item)">
					</vb-menu-link>
				</li>
			</ul>
		</div>
	</li>
</ul>
