<ul>
	<li *ngFor="let item of menu"
		class="position-relative"
		[class.header-menu]="isHeader(item)"
		[class.sidebar-dropdown]="isMenu(item)"
		[class.active]="selectedMenu === item"
	>
		<span *ngIf="isHeader(item)">{{ item.label | translate }}</span>
		<ng-container *ngIf="isMenu(item)">
			<vb-menu-link class="pointer" (click)="selectMenu(item)" [item]="item"></vb-menu-link>
			<fa-icon class="pointer" [icon]="[ 'fas', 'caret-right' ]"></fa-icon>
			<div class="sidebar-submenu" [class.invisible]="selectedMenu !== item">
				<ul>
					<li *ngFor="let sub of item.subMenu">
						<vb-menu-link class="pointer" [item]="sub" [overrideIcon]="['fas', 'circle' ]" size="xs"></vb-menu-link>
					</li>
				</ul>
			</div>
		</ng-container>
		<vb-menu-link *ngIf="isLink(item)" class="pointer" [item]="item"></vb-menu-link>
	</li>
</ul>
