<ul>
	<li *ngFor="let item of menu"
		class="position-relative"
		[class.header-menu]="isHeader(item)"
		[class.sidebar-dropdown]="isMenu(item)"
		[class.active]="selectedItem === item"
	>
		<span *ngIf="isHeader(item)">{{ item.label | translate }}</span>
		<!-- TODO: find a way to allow customizing background-color & box-shadow color for selectedItem (through input or smth) -->
		<vb-menu-link
			*ngIf="!isHeader(item)"
			class="pointer"
			(click)="selectItem(item)"
			[item]="item">
		</vb-menu-link>
		<!-- TODO: move inside menu-link? <fa-icon class="pointer" [icon]="[ 'fas', 'caret-right' ]"></fa-icon> -->

		<div *ngIf="isMenu(item)" class="sidebar-submenu" [class.invisible]="selectedItem !== item">
			<ul>
				<li *ngFor="let sub of item.subMenu">
					<vb-menu-link class="pointer" [item]="sub" [isSubItem]="true"></vb-menu-link>
				</li>
			</ul>
		</div>
	</li>
</ul>
