// FIXME: make this responsive (currently not alinging to center)
:host {
	display: flex;
	flex-direction: row;
}

.go-back {
	margin: auto 0;
}

.breadcrumb {
	background: none; 
	padding: 0;
	font-size: 1.2em;
	margin: 14px;
	overflow: hidden;
	max-height: 30px;

	a {
		cursor: pointer;
	}

	li {
		color: #ccc;
	}

	> .active {
		color: #fff;
	}

	fa-icon {
		margin: 0 0.5em;
	}
}