<fa-icon *ngIf="navigable"
    class="go-back"
    [class.pointer]="currentPath.length"
    [icon]="[ 'fas', 'arrow-alt-circle-left' ]" size="2x"
    (click)="goBack()"
></fa-icon>
<ol class="breadcrumb">
    <li>
        <span [class.pointer]="navigable" (click)="goTo(-1)">{{ rootLabel | translate }}</span>
    </li>

    <li *ngFor="let path of currentPath; let index = index; let last = last"
        [class.active]="last"
        class="animated fast fadeIn"
    >
        <fa-icon *ngIf="useSeparators" [icon]="[ 'fas', 'chevron-right' ]"></fa-icon>

        <span *ngIf="!last" (click)="goTo(index)">{{ path | strLimit: 12 }}</span>
        <span *ngIf="last">{{ path }}</span>
        <span *ngIf="!last && !useSeparators">/</span>
    </li>
</ol>