@mixin themes ($sidebar-bg-color,
$primary-color,
$primary-highlight-color,
$border-color,
$menu-header-color,
$menu-icon-color,
$menu-icon-highlight-color,
$menu-hover-bg-color,
$menu-hover-color,
$search-input-bg-color,
$footer-bg-color,
$shadow-color,
$scrollbar-color) {
    .sidebar-wrapper {
        background-color: $sidebar-bg-color;

        .sidebar-item {
            border-top: 1px solid $border-color;

            &:first-child {
                border-top: none;
            }
        }

        .sidebar-search input.search-menu,
        .sidebar-search .input-group-text {
            background-color: $search-input-bg-color;
            border: none;
            box-shadow: none;
            margin-left: 1px;
        }

        .sidebar-footer {
            background-color: $footer-bg-color;
            box-shadow: 0px -1px 5px $shadow-color;
            border-top: 1px solid $border-color;
        }

        .sidebar-footer > div:first-child {
            border-left: none;
        }

        .sidebar-footer > div:last-child {
            border-right: none;
        }

        .sidebar-header,
        .sidebar-search input,
        .sidebar-search mat-icon {
            color: $primary-color;
        }

        #pin-sidebar, #toggle-sidebar {
            color: $primary-color;

            &:hover {
                color: $primary-highlight-color;
            }
        }

        vb-menu-link {
            mat-icon {
                color: $menu-icon-color;
            }

            &:hover {
                background-color: $menu-hover-bg-color;
                color: $menu-hover-color;
                box-shadow: none;
            }
        }

        li.active > vb-menu-link {
            background-color: $menu-icon-highlight-color;
            box-shadow: 0 4px 20px 0 rgba(0,0,0,.14),0 7px 10px -5px rgba($menu-icon-highlight-color, .4);

            mat-icon {
                color: #fff;
            }
        }

        .header-menu span {
            color: $menu-header-color;
        }
    }
}