.sidebar-menu {
    padding-bottom: 10px;
    display: block;

    .header-menu span {
        font-weight: bold;
        font-size: 14px;
        padding: 15px 20px 5px 20px;
        display: inline-block;
    }

    ul li vb-menu-link {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        text-decoration: none;
        position: relative;
        // padding: 8px 30px 8px 20px;
        // width: 100%;
        padding: 10px 15px;
        margin: 10px 15px 0;

        &:hover > mat-icon {
            display: inline-block;
            animation: swing ease-in-out .5s 1 alternate;
        }

        mat-icon {
            // margin-right: 10px;
            // font-size: 12px;
            // text-align: center;
            // flex-shrink: 0;

            font-size: 24px;
            margin-right: 15px;
            line-height: 30px;
            text-align: center;

            &.icon-bullet {
                font-size: 12px;
            }
        }

        .menu-text {
            flex-grow: 1;
            white-space: nowrap;
            text-overflow: ellipsis;
            flex-shrink: 1;
            overflow: hidden;

            margin: 0;
            line-height: 30px;
            font-size: 14px;
            position: relative;
            display: block;
            height: auto;
        }

        .badge, .label {
            margin-left: auto;
        }
    }

    .sidebar-dropdown {
        .sidebar-submenu {
            opacity: 1;
            transition: opacity 1s ease;

            &.invisible {
                opacity: 0;
                height: 0;
                visibility: hidden;
            }

            ul {
                padding: 5px 0;
            }

            li {
                padding-left: 25px;
                font-size: 13px;

                vb-menu-link {
                    margin: 0;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }
        }


        vb-menu-link mat-icon.icon-caret {
            margin-right: 0;
            // float: right;
        }

        &.active > vb-menu-link mat-icon.icon-caret {
            transform: rotate(90deg);
            right: 15px;
        }
    }
}