.sidebar-wrapper {

    .sidebar-header {
        padding: 20px;
        overflow: hidden;

        .user-pic {
            max-width: 60px;
            padding: 2px;
            margin: auto 15px auto 0;
            overflow: hidden;

            img {
                object-fit: cover;
                height: 100%;
                width: 100%;
            }

            mat-icon {
                font-size: 4em;
                height: auto;
                width: auto;
            }
        }

        .user-info {
            overflow: hidden;

            > span {
                display: block;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            .user-role {
                font-size: 12px;
            }

            .user-status {
                font-size: 11px;
                text-align: center;

                mat-icon {
                    font-size: 8px;
                    margin-right: 4px;
                    color: #5cb85c;
                }
            }
        }

    }
}